<div class="ui-g">
    <div class="ui-g-12 ">
        <div class="card card-w-title ui-g-12">
                <h1>Cadastro de Categoria</h1>
                <form class="ui-g form-group" (ngSubmit)="salvar()" #categoriaForm="ngForm"> 
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" pInputText  required  name="nome" class="ng-dirty ng-invalid" #nome="ngModel" id="nome" [(ngModel)]="categoria.descricao" />
                                <label>Descrição</label>
                            </span> 
                           
                            
                         </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-4">
                               <button pButton type="submit" [disabled]="categoriaForm.form.invalid" label="Salvar"></button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
